<% # track_data = {artist: "Animal Collective", song_title: "My Girls", source: "youtube", source_id: "k213kjh"} %>
<li class="artist">
  <a data-type="toggle-play" class="small-playback-button small-playback-play"><i class="icon-play"></i></a>
  <h4 class="artist-name"><%= track_data[0] %></h4>
  <h4 class="artist-song"><%= track_data[1] %></h4>
</li>