<span style="display:none">
  <%= @playlist.to_json %>
</span>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="navbar-progress"></div>
  	<div class="container">
      <ul class="pull-left playback-controls">
        <li><a class="playback-button playback-play" href="#"></a></li>
        <li><a class="playback-button playback-skip" href="#"></a></li>
      </ul>
      <div class="playback-info">
        <p class="playback-name"><span class="playback-artist">Artist Name <span class="playback-song">Song Name</span></p>
        <p class="playback-event"><span class="playback-venue">Venue Name </span><span class="playback-time">9:00PM</span></p>
      </div>
      <a class="brand" href="#"></a>
	</div>
  </div>
</div>

<div id="main" class="container">
  <% @playlist.each do |event| %>
    <div class="row-fluid">
      <div class="span12 time-divider"></div>
      <div class="span12 event">
      <div class="row-fluid">
      <div class="span8 artists">
      <ul class="artist-list">
        <% event['tracks'].each do |track| %>
          <li class="artist">
            <a data-type="toggle-play" class="small-playback-button small-playback-play"></a>
            <h4 class="artist-name"><%= track['artist'] %></h4>
            <h4 class="artist-song"><%= track['song_title'] %></h4>
          </li>
        <% end %>
      </ul>
      </div>
      <div class="span4 venue">
      <h4 class=""><%= event['venue'] %></h4>
      <p>9:00pm Tonight <i class="icon-time"></i></p>
      <p>Buy Tickets <i class="icon-shopping-cart"></i></p>
      <p>Directions <i class="icon-map-marker"></i></p>
      </div>
      </div>
    </div>
  </div>
  <% end %>
</div>