<span style="display:none">
  <%= @playlist.to_json %>
</span>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
      <ul class="pull-left playback-controls">
        <li><a class="playback-button playback-play" href="#">Play</a></li>
        <li><a class="playback-button playback-skip" href="#">Skip</a></li>
      </ul>
      <ul class="playback-info">
        <li class="playback-artist">Artist Name</li>
        <li class="playback-title">Song Title</li>
        <li class="playback-venue">Venue Name</li>
      </ul>
      <a class="brand" href="#">Tonight's Playlist</a>
	</div>
  </div>
</div>

<div id="main" class="container">

  <% @playlist.each do |event| %>
    <!--
        track1 = {'artist' => "Animal Collective", 
          'song_title' => "My Girls", 
          'source' => "youtube", 
          'source_id' => "k213kjh"}

    track2 = {'artist' => "Yeasayer",
          'song_title' => "Ampling Alp",
          'source' => "youtube",
          'source_id' => "8fsash"}

    track3 = {'artist' => "Grimes",
          'song_title' => "Beast",
          'source' => "youtube",
          'source_id' => "dsf72s"}

    event1 = {'venue' => "Neumos",
          'tracks' => [track1, track2, track3]
    
    event2 = {'venue' => "Chop Suey",
          'tracks' => [track1, track3]

    @playlist = [event1, event2]
    -->

    <div class="row-fluid">
      <div class="span12 time-divider"></div>
      <div class="span12 event">
      <div class="row-fluid">
      <div class="span6 artists">
      <ul class="artist-list">
        <% event['tracks'].each do |track| %>
          <li class="artist">
            <a data-type="toggle-play" class="small-playback-button small-playback-play"><i class="icon-play"></i></a>
            <h4 class="artist-name"><%= track['artist'] %></h4>
            <h4 class="artist-song"><%= track['song_title'] %></h4>
          </li>
        <% end %>
      </ul>
      </div>
      <div class="span6 venue">
      <h5 class=""><%= event['venue'] %></h5>
      <p>9:00pm Tonight</p>
      <p>Buy Tickets</p>
      <p>Directions</p>
      </div>
      </div>
    </div>
  </div>
  <% end %>

</div>