<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
      <ul class="pull-left playback-controls">
        <li><a class="playback-button playback-play" href="#">Play</a></li>
        <li><a class="playback-button playback-skip" href="#">Skip</a></li>
      </ul>
      <ul class="playback-info">
        <li class="playback-artist">Artist Name</li>
        <li class="playback-title">Song Title</li>
        <li class="playback-venue">Venue Name</li>
      </ul>
      <a class="brand" href="#">Tonight's Playlist</a>
	</div>
  </div>
</div>

<div id="main" class="container">

  <div class="row-fluid">
    <div class="span12 time-divider">
      <h4>9:00PM</h4>
    </div>
    <div class="span12 event">
      <div class="row-fluid">
        <div class="span6 artists">
          <ul class="artist-list">
            <li class="artist">
              <a href="START" class="small-playback-button small-playback-play"><i class="icon-play"></i></a>
              <h4 class="artist-name">Artist 1</h4>
              <h4 class="artist-song">Song Title</h4>
            </li>
            <li class="artist">
              <a href="START" class="small-playback-button small-playback-play"><i class="icon-play"></i></a>
              <h4 class="artist-name">Artist 2</h4>
              <h4 class="artist-song">Song Title</h4>
            </li>
            <li class="artist">
              <a href="START" class="small-playback-button small-playback-play"><i class="icon-play"></i></a>
              <h4 class="artist-name">Artist 3</h4>
              <h4 class="artist-song">Song Title</h4>
            </li>
          </ul>
        </div>
        <div class="span6 venue">
          <h5 class="">Venue Name</h5>
          <p>9:00pm Tonight</p>
          <p>Buy Tickets</p>
          <p>Directions</p>
        </div>
      </div>
    </div>
  </div>

</div>