<span style="display:none">
  <%= @playlist.to_json %>
</span>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="navbar-progress"></div>
  	<div class="container">
      <ul class="pull-left playback-controls">
        <li><a class="playback-button playback-play" href="#"></a></li>
        <li><a class="playback-button playback-skip" href="#"></a></li>
      </ul>
      <div class="playback-info">
        <p class="playback-name"><span class="playback-artist">Artist Name <span class="playback-song">Song Name</span></p>
        <p class="playback-event"><span class="playback-venue">Venue Name </span><span class="playback-time">9:00PM</span></p>
      </div>
      <a class="brand" href="#"></a>
	</div>
  </div>
</div>

<div id="main" class="container">
  <% @playlist.each do |e| %>
    <%= render 'event', :event_data => e %>
  <% end %>
</div>