// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";

html {

}

body {
  background-color: #222;
  padding: 0;
}

//GIVING EVERYTHING BORDER-BOX SIZING

body * {
  @include box-sizing(border-box);
}

ul {
  margin: 0;
  list-style: none;
}

li.playback-button {
  display: inline-block;
  &.playback-play {

  }

  .playback-skip {

  }
}
.navbar {

}

//NAVBAR

.navbar {
  * {
    border: none;
  }
  .navbar-inner {
    height: 100px;
    padding: 0;
    margin: 0;
    background-image: none;
    background-color: #000;
    @include box-shadow(none);
    .container {
      height: 100%;
      .brand {
        float: right;
      }
      ul {
        li {
          float: left;
        }
      }
    }
  }
}

.playback-controls {
  li.playback-button {
    float: left;
    &.playback-play {

    }
    &.playback-skip {

    }
  }
}

//EVENT MODULES
#main {
  margin-top: 100px;
  width: 830px;
}

.time-divider {
  color: white;
  h4 {
    font-weight: normal;
  }
}

.event {
  padding: 2%;
  @include border-radius(2px);
  background-color: white;
  .artists {
    padding: 0;
    text-align: left;
    .artist {
      display: inline-block;
      width: 100%;
      margin-bottom: 15px;
      font-size: 120%;
      &:last-child {
        margin-bottom: 0;
      }
      .small-playback-button {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        background-color: black;
        display: inline-block;
        float: left;
      }
      h4 {
        margin: 0;
      }
      h4.artist-name {

      }
      h4.artist-song {
        font-size: 100%;
        font-weight: normal;
        color: #999;
      }
    }
  }
  .venue {
    padding: 0;
    text-align: right;
  }
}